body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}

.flexible-display{
    display: flex;
}

.about-section{
    background-image: url("images/top-banner.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding: 2%;
}

span{
    color: orange;
}

.btn{
    text-decoration: none;
    background-color: red;
    background-image: linear-gradient(to top, red , yellow);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
  }

  section{
      margin-bottom: 100px;
  }
  .Dream-big{
      background-image: url(images/dream-bg.png);
      background-position: right;
      background-repeat: no-repeat;
  }

  .Dream-big p{
      padding-right: 130px;
  }